<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aldentea.AldenteaShuffle.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aldentea.AldenteaShuffle.Settings>
            <setting name="ChallongeUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ChallongeApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="RequireUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </Aldentea.AldenteaShuffle.Settings>
    </userSettings>
</configuration>